.additional-block {
  padding-top: 25px;
  padding-bottom: 25px;
}

.additional-block__title {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
}

.additional-block__list {
  margin-bottom: 30px;
  list-style: "—" inside;
}

.additional-block__item {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 120%;
}

.additional-block__item:last-child {
  margin-bottom: 0;
}

.additional-block__paragraph {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 120%;
}

.additional-block__paragraph:last-child {
  margin-bottom: 0;
}
