.article {
  padding-top: 25px;
  padding-bottom: 25px;
}

.article:first-child {
  padding-top: 0;
}

.article:last-child {
  padding-bottom: 0;
}

.article__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
}

.article__paragraph {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 120%;
}

.article__paragraph:last-child {
  margin-bottom: 0;
}

.article__subsection {
  margin-bottom: 30px;
}

.article__subsection_flow-root {
  display: flow-root;
}

.article__subsection:last-child {
  margin-bottom: 0;
}

.article__image {
  margin: 0 auto 30px;
  display: block;
}

.article__image:last-child {
  margin: 0 auto;
}

.article__image_float-left {
  float: left;
  margin: 0 30px 0 0;
}

.article__image_float-right {
  float: right;
  margin: 0 0 0 30px;
}

.article__image.article__image_float-right ~ .article__paragraph {
  padding-right: 600px;
}

.article__figure {
  margin-bottom: 30px;
  border: 1px solid black;
}

.article__figure-image {
  display: block;
  width: 100%;
}

.article__figure-figcaption {
  padding: 15px 30px;
}

.article__figure-paragraph {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #5e5e5e;
  text-align: center;
}
