.header {
  padding: 60px 0 50px;
}

.header__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
}

.header__paragraph {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 120%;
}

.header__paragraph:last-child {
  margin-bottom: 0;
}
