.section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section:first-child {
  padding-top: 0;
}

.section:last-child {
  padding-bottom: 0;
}

.section__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
}

.section__paragraph {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 120%;
}

.section__paragraph:last-child {
  margin-bottom: 0;
}

.section__subsection {
  margin-bottom: 30px;
}

.section__subsection_flow-root {
  display: flow-root;
}

.section__subsection:last-child {
  margin-bottom: 0;
}

.section__image {
  margin: 0 auto 30px;
  display: block;
}

.section__image:last-child {
  margin: 0 auto;
}

.section__image_float-left {
  float: left;
  margin: 0 30px 0 0;
}

.section__image_float-right {
  float: right;
  margin: 0 0 0 30px;
}

.section__image.section__image_float-right ~ .section__paragraph {
  padding-right: 600px;
}

.section__figure {
  margin-bottom: 30px;
  border: 1px solid black;
}

.section__figure-image {
  display: block;
  width: 100%;
}

.section__figure-figcaption {
  padding: 15px 30px;
}

.section__figure-paragraph {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #5e5e5e;
  text-align: center;
}
